* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 100px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li button {
    background-color: #b92e68;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

li button:hover {
    background-color: #af5378;
}

/* Responsive Styles */
@media (max-width: 600px) {
    input[type="text"] {
        width: calc(100% - 70px);
    }
}

@media screen and (max-width: 600px) {
    #addTaskBtn{
        margin-top:  10px;
        margin-left: 0px;
    }
}
